extends layout
include sharedHTMLfunctions

block content
  .row.banner 
    .col-12
      h1 #{location.name} 
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p 
            +starRating(location.rating)
          p.address #{location.address}
          .card.card-primary.mb-3 
            .card-body 
              h2.card-title Openings hours
              for opening in location.openingTimes
                if opening.closed
                  p.card-text #{opening.days}: closed
                else
                  p.card-text #{opening.days}: #{opening.opening} - #{opening.closing}
          .card.card-primary
            .card-body 
              h2.card-title Facilities 
              each facility in location.facilities
                span.badge.badge-warning= facility
                span.mr-1

        .col-12.col-md-6
          .card.card-primary 
            .card-body 
              h2 Location Map
              img(src='https://i.blogs.es/a7b776/google-maps-portada/840_560.webp', alt='Image of Starcups' style="width:300px; height:200px;")
      .row.mt-3 
        .card.card-primary 
            .card-body
              .row.mb-2.align-items-center
                div.col-6.col-md-6
                  h2.mb-2 Customer reviews 
                div.col-6.col-md-6
                  a.badge.badge-pill.badge-primary.float-right(href=`/location/${location._id}/review/new`) Add review 
              for review in location.reviews
                div.bg-primary.text-white.p-2.mb-3
                  small &nbsp;
                    +starRating(review.rating)
                    span.ml-2 #{review.author} #{review.createdOn}
                div 
                  p.ml-2 #{review.reviewText}
    .col-12.col-lg-3
      p #{location.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p If you\'ve been and you like it - or if you don\'t -
